<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Login</title>
    <link href="~/css_old/bootstrap.css" rel="stylesheet" />
    <link href="~/css_old/mdb.css" rel="stylesheet" />
    <link href="~/css_old/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/BL/admin_login.js"></script>
</head>
<body>
    @*<div class="login-bg " style="background-image: url(../images/golf-sunset-sport-golfer.png)">*@
    <div class="login-bg ">
        <div class="login-box animated ">
            <div class="logo">
                @*<img src="~/images/logo.jpg" alt="" class="logo">*@
            </div>
            <p>Please sign in</p>
            <div class="md-form">
                <input type="text" id="txtUserId" class="form-control" placeholder="Enter User Name" maxlength="20">
            </div>
            <div class="md-form">
                <input type="password" id="txtUserPassword" class="form-control" placeholder="Enter Password" maxlength="20">              
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-md-auto">
                    <button type="button" id="btnLogin"  class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
